
<!DOCTYPE html>
<html>
  <head>
    <title>Austin Flood Warning</title>
        <style>
        #map {
            width: 1000px;
            height: 800px;
            background-color: #CCC;
        }
    </style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hello World</h1>
    <p><%= message %></p>
    <div id="map"></div>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--json,underscore,backone-->
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <!-- Parse.js -->
    <script src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <!-- Handlebars.js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!--js script-->
    <!--<script type="text/javascript" src="js/test.js"></script>-->
    <!--js script(static!)-->
    <script type="text/javascript" src="../../public/js/test.js"></script>
    <!--google map API-->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWURDfsgwPTnZlW22HTkZF7mA9zLAHB2I&callback=initMap"></script>


  </body>
  
</html>
