
<!--This is the navigation/user bar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Austin Flood Warning System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="nav navbar-nav navbar-right navbar-text">

                <% if (user != null) { %>
                <span > Welcome, <%=user.username%>. </span>
                <span> <a class="navbar-color" style='margin-right: 20px;' href="#" onclick="addAnotherBarricade()">Add New Barricade</a></span>
                <span> <a class="navbar-color" style='margin-right: 20px;' href="#" onclick="addAnotherSensor()">Add New Sensor</a></span>
                <span ><a class="navbar-color" href="/logout"> Log Out</a></span>
                <div id="userExist" hidden>true</div>
                <% } else { %>
                <span> <a class="navbar-color" href="#" onclick="addNewVerification()">Verify Subscription</a></span>
                <span ><a class="navbar-color" href="/login"> Log In</a></span>
                <!--<span ><a class="navbar-color" href="/signup">Sign Up</a></span>-->
                <div id="userExist" hidden>false</div>
                <!--<span><button class="btn btn-success navbar-btn" onclick="document.location.href='/login';">Log In</button></span>
                <span><button class="btn btn-success navbar-btn" onclick="document.location.href='/signup';">Sign Up</button></span>-->
                <% }%>
            </div>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!--This displays the text inside navbar-->
<% if (user != null) { %>
    <%=user.username%>. You can

    <a href="/logout"> log out</a>
    <% } else { %>
        Please <a href="/login">log in</a>
    or <a href="/signup">sign up</a>
    <% }%>
<!--Some style for google map position and table collapse border-->
<style type="text/css">
    div#map-canvas {
        margin: 0 auto 0 auto;
        margin-top:50px;}
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }


</style>
<!--Google Map div-->
<div id="map-canvas"></div>

<!--WaterLevel popout modal-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sensor History Data</h4>
            </div>
            <div class="modal-body">
                <p>The data is received every minute and this table contains the most recent data.</p>

                <table id="table-waterLevel">

                </table>
                <div id="tester" style="width: 520px; height: 400px;"></div>
            </div>

            <div class="modal-footer">
                <div id="downloadDataDiv"></div>
                <!--<button id="historyDataDownloadBtn" class='gen_btn'>Generate File</button>-->
                <!--<button id="downloadHistoryDataBtn" class="btn btn-success" >Download All History Data</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Add extra sensor/barricade information div-->

<!--Modal for registering another sensor form-->
<div id="addSensorModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please enter the following information to add another sensor.</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Sensor ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sensorIdInput" placeholder="ID number on the Arduino"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Geo Location</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="geoX" placeholder="Geo Location X"/>
                            <p></p>
                            <input type="number" class="form-control" id="geoY" placeholder="Geo Location Y"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Location's Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="placeNameInput"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Sensor Critical Level Value</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="criticalInput"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Sensor Warning Level Value</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="warningInput"/>
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">

                        </div>
                    </div>-->
                </form>
            </div>

            <div class="modal-footer">
                <button onclick="submitAnotherSensor()" type="button" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Modal for add another barricade-->
<div id="addBarricadeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please enter the following information to add another barricade.</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Barricade ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="barricadeIdInput"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Corresponding Sensor ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="correspondingSensorIdInput"/>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button onclick="submitAnotherBarricade()" type="button" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Modal for subscribing to a sensor-->
<div id="addNewSubscription" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="resetCaptcha()">&times;</button>
                <h4 class="modal-title">Subscription for Text Alerts</h4>
            </div>
            <div class="modal-body">
                <p>You have selected to subscribe for the following sensor: </p>
                <form class="form-horizontal" role="form">
                    <div class="form-group" style="display:none">
                        <label  class="col-sm-2 control-label">Sensor ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sensorId" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Sensor Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sensorLoc" readonly/>
                        </div>
                    </div>
                </form>
                <p>Please enter your phone number to complete your subscription </p>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phoneNumInput" placeholder="No dashes, no +1, just 10 digits."/>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <form action="" method="POST" >
                                <div class="g-recaptcha" data-sitekey="6LfTNBsTAAAAAHjMTV0gG0VANs2IfAvE486yZFlH"></div>
                                <span id="captcha" style="margin-left:100px;color:red" />
                                <br>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="sendVerificationCode()" type="button" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetCaptcha()">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Modal for verifying a phone number-->
<div id="codeVerification" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Verifying Subscription</h4>
            </div>
            <div class="modal-body">
                <p>A 4-digit verification code will be sent to you via text. Please enter a verification code to complete subscription: </p>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="verifyCodeInput"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="verifySubscription()" type="button" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>
<!--Modal for unsubscribing to a sensor-->
<div id="removeSensorSubscription" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Please enter your phone number to remove your subscription for the following sensor: </p>
                <form class="form-horizontal" role="form">
                    <div class="form-group" style="display:none">
                        <label  class="col-sm-2 control-label">Sensor ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sensId" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Sensor Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sensLoc" readonly/>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phoneNumIn"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="removeSubscription()" type="button" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Modal for unsubscribing to a sensor-->
<div id="removeSensorSubscription" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Please enter your phone number to remove your subscription for the following sensor: </p>
                <form class="form-horizontal" role="form">
                    <div class="form-group" style="display:none">
                        <label  class="col-sm-2 control-label">Sensor ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sensId" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Sensor Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sensLoc" readonly/>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phoneNumIn"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="removeSubscription()" type="button" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Google Map API&home.js src file-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWURDfsgwPTnZlW22HTkZF7mA9zLAHB2I"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript" src="/js/home.js"></script>
<!--tooltip enable-->
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

