<div class="container">
    <form class="form-signin" action = "./test" method = "post">
        <h2 class="form-signin-heading">Testing</h2>
    </form>
</div> <!-- /container -->

<!--<script type="text/javascript" src="/js/autoText.js"></script> -->
<script type="text/javascript" src="/js/basicTwilio.js"></script>
<script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
<!-- Parse.js -->
<script src="https://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
<script type="text/javascript">
    Parse.initialize("<%= parseAppId %>", "<%= parseJsKey %>");
</script>